<!DOCTYPE html>
<html>

<head>
  <title> Stationary Base Demo </title>
  <script src="/javascripts/index.js"></script>

  <script>
    var joystick = new VirtualJoystick({
      mouseSupport: true,
      container: document.getElementById('container'),

    });
    if (joystick.right()) {}
    if (joystick.left()) {}
    if (joystick.up()) {}
    if (joystick.down()) {}
  </script>
</head>

<body>
  <div id="container"></div>
</body>

</html>
