<!DOCTYPE html>
<html>

<head>
  <title>Joystick</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="/nipplejs/dist/nipplejs.min.js"></script>
  <script>
    var options = {
      zone: "body", // active zone
      color: "red",
      mode: "static", // 'dynamic', 'static' or 'semi'

    };
    var manager = nipplejs.create(options);
  </script>
  </script>
</head>

<body>

</body>

</html>
