<!DOCTYPE html>
<html>

<head>
  <title>Joystick</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="/nipplejs/dist/nipplejs.js"></script>
  <script>
    var manager = nipplejs.create();
  </script>
  </script>
</head>

<body>
  <div id="joystick"></div>
</body>

</html>
