<!DOCTYPE html>
<title> Joystick</title>
</head>

<body>
  <script src="/javascripts/index.js"></script>
  <script>
    var joystick = new VirtualJoystick({
      mouseSupport: true,
      stationaryBase: true,
      baseX: 200,
      baseY: 200
    });

    if (keyboard.pressed("D")) {}
    if (keyboard.pressed("A")) {}
    if (keyboard.pressed("W")) {}
    if (keyboard.pressed("S")) {}
    if (joystick.right()) {}
    if (joystick.left()) {}
    if (joystick.up()) {}
    if (joystick.down()) {}
  </script>
</body>
