<!DOCTYPE html>
<title> Stationary Base Demo </title>
</head>

<body>
  <script src="/javascripts/index.js"></script>
  <script>
    var joystick = new VirtualJoystick({
      mouseSupport: true,

    });
    if (joystick.right()) {}
    if (joystick.left()) {}
    if (joystick.up()) {}
    if (joystick.down()) {}
  </script>
</body>
